footer{
  height: 50px;
  background-color: $color1;
  color: #fff;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 14px;
}