//UI
.title-wrap {
  text-align: center;

  h2 {
    border-top: 1px solid $color1;
    display: inline-block;
    border-bottom: 1px solid $color1;
    padding: 4px 0;
    color: $color1;
    font-size: 1.6rem;
    letter-spacing: 3px;
  }
}


//PAGES--HOME
.home {
  img {
    border-radius: 20px;
  }
}

.recommends {
  .recommends__item {
    margin-bottom: 20px;
  }

  .recommends__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: block;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(#000, 0.4)
    }

    .text {
      position: absolute;
      width: 80%;
      height: 50px;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      margin: auto;
      pointer-events: none;
      z-index: 3;
      color: #fff;
    }

    .text-h3 {
      transition: .5s;
      transform: translateY(0px);
      display: block;
      position: relative;

      &:before {
        content: '';
        background: #fff;
        position: absolute;
        width: 30px;
        height: 1px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(10px);
        transition: .5s;
        opacity: 0;

      }
    }

    .desc {
      display: block;
      opacity: 0;
      transition: .5s;
      transform: translateY(-10px);
    }
  }

  .recommends__img:hover {
    opacity: 1;

    .text-h3 {
      transition: .5s;
      transform: translateY(-25px);

      &:before {
        transition: .5s;
        transform: translateY(10px);
        transition-delay: .1s;
        opacity: 1;
      }
    }

    .desc {
      opacity: 1;
      transition: .5s;
      transform: translateY(0);
      transition-delay: .2s;
    }
  }
}



//PAGES--PRODUCTS
.product-list {
  img {
    border-radius: 20px;
  }
}

.product-item {
  img {
    border-radius: 20px;
  }
}


//PAGES--CART
.form {
  width: 100%;
  margin-bottom: 20px;
}

.form-wrap {
  background: $color2;
  padding: 20px 30px 5px 30px;
  border-radius: 20px;
  background: #f2f2f2;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: -32px;
    background: $color2;
    width: 60px;
    height: 40px;
    transform: rotate(-45deg);
    border-radius: 12px;
  }
  
}