/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;
  z-index: 999;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 50px;
  z-index: 99;
}

[dir='rtl'] .slick-prev {
  right: 50px;
  left: auto;
}

.slick-prev:before {
  display: block;
  color: $color1;
  content: '';
  border-left: 1px solid $color1;
  border-top: 1px solid $color1;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg)
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 50px;
  z-index: 99;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: 50px;
}

.slick-next:before {
  display: block;
  color: $color1;
  content: '';
  border-right: 1px solid $color1;
  border-bottom: 1px solid $color1;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg)
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

.slick__item {
  position: relative;
  height: calc(100vh - 88px);
  background-size: cover;
  background-position: center;

  img {
    opacity: 0.6;
  }

  h2 {
    font-size: 3.2rem;
    letter-spacing: 5px;
  }

  .slick__title {
    position: absolute;
    top: -10%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    padding: 30px;
    width: 400px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.line-btn {
  display: inline-block;
  min-height: 40px;
  padding: 10px 0;
  font-size: 16px;
  transition: .5s;
  border-bottom: 1px solid $color1;

  &:hover {
    color: $color1;
    transition: .5s;
  }
}

.more-btn {
  display: inline-block;
  min-height: 40px;
  padding: 10px;
  font-size: 18px;
  transition: .5s;
  color: $color1;
  border: 1px solid $color1;
  background-color: rgba(255, 255, 255, 0.5);

  &:disabled {
    cursor: not-allowed;
    background-color: #999;
    color:#fff;
    &:hover {
      background-color: #999;
    }
  }

  &.more-btn--s {

    min-height: auto;
    padding: 5px;
    font-size: 15px;
  }

  &:hover {
    background-color: $color1;
    color: #fff;
    transition: .5s;
  }
}